* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: azure;
    padding: 1rem;
}

header {
    padding: 1rem;
    margin-bottom: 1rem;
}

.range-input {
    margin-top: 3rem;
}